<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="all test SUITE" verbose="5" data-provider-thread-count="6">

    <test thread-count="10" parallel="methods" name="data_provider TC">
        <classes>
            <class name="day_8.unit.calc.CalcAddTest"/>
        </classes>
    </test>

    <parameter name="a"  value="666"/>
    <parameter name="b"  value="999"/>
    <test name="parametrized TC" thread-count="10" parallel="methods">
        <classes>
            <class name="day_8.unit.calc.CalcMinusTest"/>
        </classes>
    </test>

</suite>
